$color-primary: #F4C177;
$color-hover: #F2A93F;
$color-additional: #EFAA46;
$color-additional-lighter: #F9DA4A;
$color-background: #242C3A;
$color-link: #59818E;
$color-accent: #A43013;
$color-text: #000;
$color-light: #fff;
$color-dark: #000;
$color-breadcrumbs: #6C6C71;
$color-switcher-bg: #f6f7fa;


$content-width: 1220px;
$tablet-width: 820px;
$tablet-width-mini: 768px;
$mobile-width: 420px;
$mobile-width-mini: 320px;

//media const for cards

$showcase-width1: 1164px;
$showcase-width2: 879px;