$color-primary: #F4C177;
$color-additional: #F2A93F;
$color-additional-lighter: #F9DA4A;
$color-background: #242C3A;
$color-link: #59818E;
$color-accent: #A43013;
$color-text: #000;
$color-light: #fff;


$content-width: 1220px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;