%transition {
  transition: all .3s ease-out;
}

%transition-faster {
  transition: all .2s ease-out;
}

%font-primary {
  font-family: Open Sans, Verdana, sans-serif;
}

%font-add {
  font-family: 'Poppins', Verdana, sans-serif;
}

