.account {
  &_subtitle {
    color: $color-dark;
    font-weight: 600;
  }

  p {
    margin: 0 0 15px;
  }
}

.account__wrapper {
  padding: 20px 0 90px;
}

.account__breadcrumbs {
  margin: 30px 0 30px;
}

.account__img {
  max-width: 306px;
  border-radius: 35px;
  margin: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(+58%);
    width: 50%;
    height: 3%;
    background-color: $color-dark;
    border-radius: 5px;
  }

}

.account__image {
  border: 9px solid $color-dark;
  border-radius: 35px;
}

.account__content {
  padding: 0 0 0 100px;
  @include font(2rem, 2.7rem, 400);
}

.account__title {
  margin: 0 0 20px;
}

.account__price {
  @include font(2.5rem, 3.4rem, 700);
  color: $color-accent;
}

.account__sorce {
  margin: 0 0 15px;
  color: $color-link;

  &:hover {
    @extend %transition;
    color: $color-hover;
  }

}

.account__buttons {
  max-width: 430px;
  margin: 35px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

