.additional-accounts {
  padding: 0 0 90px;
}

.additional-accounts__title {
  margin: 0 0 50px;
}

.additional-accounts__wrapper {
  flex-wrap: nowrap;
}

.additional-account {
  img {
    max-width: 100%;
    border: 6px solid $color-dark;
  }
  &:hover {
    cursor: pointer;
    .additional-account__title {
      @extend %transition;
      color: $color-primary;
    }
    img {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);;
    }
  }

}

.additional-account__title {
  margin: 30px 0 5px;
}