.showcase {
  padding: 60px 0;
}

.showcase__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase__cards {
  margin: 50px 0;
}

.showcase__paginator {
  margin: 0 0 10px;
}
