.button {
  cursor: pointer;
  @extend %transition;
  @include font(1.8rem, 2.5rem, 600);
  color: $color-text;
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

  &_border {
    border: solid 1px $color-light;
    background: transparent;
    &:hover {
      border: solid 1px $color-primary;
      color: $color-dark;
    }
  }

  &_prim-colored {
    border: solid 1px $color-primary;
    background: $color-primary;
  }

  &_add-colored {
    border: solid 1px $color-additional;
    background: $color-additional;
  }

  &_add-light-colored {
    border: solid 1px $color-additional-lighter;
    background: $color-additional-lighter;
  }

  &_square {
    width: 150px;
    padding: 11px 0;
    font-family: "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    transition: all .3s;
  }

  &_light-text {
    color: $color-light;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_big {
    width: 100%;
  }

  &:hover {
    background-color: $color-hover;
  }
}








