.header {
  // height: 120px;
  padding: 20px 0 0px;

  &_solid {
    background-color: $color-background;
    padding-bottom: 20px;
  }
}

.header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
}

.enter-button {
}


